*{
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'ideal-semibold';
    src: url(/assets/fonts/IdealSans-Semibold-Pro.otf);
}

@font-face {
    font-family: 'ideal-medium';
    src: url(/assets/fonts/IdealSans-Medium-Pro.otf);
}

@font-face {
    font-family: 'ideal';
    src: url(/assets/fonts/IdealSans-Book-Pro.otf);
}

@font-face{
    font-family: 'segoe';
    src: url(/assets/fonts/Segoe-UI.ttf);
}

@font-face{
    font-family: 'segoe-l';
    src: url(/assets/fonts/segoeuisl.ttf);
}


button{
    border: none;
    outline: none;
}

button:focus{
    outline: none;
}

h1,h3{
    font-family: 'ideal-semibold';
}

h6{
    font-family: 'ideal';
}

p{
    font-family: 'Segoe UI';
}


/* NAVIGATION BAR CUSTOM CSS */
    .top-bar{
        position: absolute;
        background: #fff;
        width: 100%;
        z-index: 10;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
        top: 0;
    }

    .overlay-bar{
        background: none;
    }

    .search{
        position: relative;
        margin-right: 12px;
    }

    .search input{
        outline: none;
        border: none;
        border-radius: 15px;
        padding: 3px 15px;
        width: 160px;
        outline: none;
    }

    .search .fa-search{
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 14px;
        color: #007DB7;
    }

    .fa-facebook {
        color: white;
        font-size: 20px;
    }

    .fa-twitter-square, .fa-linkedin{
        color: white;
        font-size: 20px;
    }

    .fa-envelope-open{
        color: white;
        font-size: 18.4px;

    }

    .utility-menu i{
        margin-left: 12px;
    }

    .utility-menu{
        padding-bottom: 15px;
        border-bottom: .3px solid rgba(255, 255, 255, .6);
    }

    .nav-menu{
        margin-top: 15px;
        color: white;
    }

    .menu{
        padding: 0;
        margin: 0;
        display: inline-block;
        position: relative;
        top: 2px;
        list-style: none;
    }
    
    .menu li{
        float: left;
        margin-right: 34px;
        position: relative;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        font-family: 'ideal-medium';
    }

    .menu li a{
        color: white;
        text-decoration: none;
    }

    .menu li.active a{
        border-bottom: 2px solid white;
        font-family: 'ideal-semibold';
        font-size: 14px;
    }

    .menu li.has-dropdown a::after{
        content: '▾';
        color: white;
        font-size: 17px;
        margin-left: 5px;
    }

    .menu li.has-dropdown{
        top: -3px;
        position: relative;
    }

    .menu li:last-child{
        margin: 0;
    }

    .sub-menu{
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 1px 3px 6px #00000029;
        color: black;
        font-family: 'ideal';
        padding: 10px 18px;
        line-height: 2.2;
        min-width: 137px;
    }

    .sub-menu p{
        font-family: 'ideal';
        margin: 0;
        text-transform: capitalize;
    }

    .menu li:hover .sub-menu{
        display: block;
    }
    


/* HEADER - PICTURE WITH TEXT */
    .header-picture-text{
        color: white
    }

    .header-picture-text h1{
        font-size: 50px;
        font-family: 'ideal-semibold';
    }

    .header-picture-text h3{
        font-size: 42px;
        font-weight: 800;
        font-family: 'ideal-semibold';
    }

    .header-picture-text h2{
        font-size: 32px;
        font-family: 'ideal-medium';
        letter-spacing: 1.22px;
    }

    .header-picture-text p.description{
        font-size: 20px;
        font-weight: 300;
        font-family: 'Segoe UI';
        font-weight: 200;
        letter-spacing: 0;
    }

    .header-picture-text hr{    
        border-top: 4px solid white;
    }

/* NEWS SECTION */
    .connection{
        opacity: .15;
        position: absolute;
        top: 50px;
    }

    .news-section h1, .news-section p{
        font-family: 'ideal-semibold';
    }

    .news-section p{
        letter-spacing: 0.76px;
    }

    .news-holder{
        color: #131313;
    }

    .news-holder .img-holder{
        width: 320px;
        height: 200px;
    }

    .news-holder .img-holder img{
        width: 100%;
        height: auto;
    }

    .news-holder .type{
        margin-top: 17px;
        font-weight: bold;
        font-size: 16px;
        opacity: .56;
        text-transform: uppercase;
        margin-bottom: 0px;
        font-family: 'ideal-semibold';
    }

    .news-holder .title{
        color: #007DB7;
        font-size: 20px;
        font-weight: bold;
        font-family: 'ideal-semibold';
    }

    .news-holder .date{
        font-size: 14px;
        font-family: 'Segoe UI';
        letter-spacing: 0;
    }

    .news-holder .description{
        font-family: 'segoe';
        font-size: 16px;
    }

/* SPEAKERS */
    
    .speaker{
        line-height: 1.2;
        position: relative;
    }

    .speaker .img-holder{
        width: 250px;
        height: 375px;
        overflow: hidden;
        z-index: 5;
    }

    .speaker .img-holder img{
        height: 100%;
    }

    .speaker .name{
        font-size: 32px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: 'ideal-medium';
        letter-spacing: 1.22px;
    }

    .speaker .position{
        font-size: 20px;
        font-family: 'ideal-medium';
        letter-spacing: 0.76px;
    }

/* NEWSLETTER */
    .newsletter i{
        font-size: 40px;
        margin-right: 18px;
    }

    .newsletter input{
        border: none;
        border-radius: 6px;
        height: 70px;
        margin-right: 20px;
        width: 390px;
        padding: 0px 18px;
        outline: none;
    }

    .newsletter .btn-yellow{
        width: 180px;
    }

    .newsletter p{
        font-family: 'ideal-medium';
    }

    .newsletter p.light{
        font-family: "segoe";
    }

/* FOOTER */

    footer p{
        font-family: 'segoe';
    }
    footer ul{
        list-style: none;
    }

    footer ul li{
        font-size: 16px;
        margin-bottom: 5px;
        cursor: pointer;
        font-family: 'ideal';
    }

    footer ul li:first-child{
        text-transform: none;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: 'ideal-medium';
    }
    
    footer .terms{
        background-color: #DADADA;
    }

    footer .terms p{
        font-family: 'ideal';
        opacity: .6;
        font-size: 16px;
        cursor: pointer;
        padding: 20px 0px 16px 0px;
        margin: 0;
        margin-right: 50px;
    }

/* HEADER WITH IMAGE OVERLAY */

    .image-overlay{
        width: 100%;
        display: block;
        opacity: .5;
        mix-blend-mode: overlay;
        position: absolute;
        top: 0;
    }

/* UTILS,COLORS ETC */

    /* Add blue gradient */
    .blue-gradient-bg{
        background: transparent linear-gradient(180deg, #6DCFF6 0%, #007DB7 100%) 0% 0% no-repeat padding-box;
    }

    .bg-blue{
        background-color: #007DB7;
    }

    .bg-light-blue{
        background-color: #00B6C9;
    }

    /* Parallax Effect */
    .bg-parallax{
        background-image: url(/assets/images/parallax.png);
        min-height: 500px;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Add diagonal slice at the bottom */
    .diagonal-bottom-left{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        padding-bottom: 120px;
    }

    .diagonal-bottom-left + section{
        margin-top: -80px;
    }

    .diagonal-bottom-left-small{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
        padding-bottom: 120px;
    }

    .diagonal-bottom-left + section{
        margin-top: -100px;
    }

    .diagonal-bottom-right{
        -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        padding-bottom: 10%;
    }

    .diagonal-bottom-right + section{
        margin-top: -4.5%;
    }

    /* Add diagonal slice at the top */
    .diagonal-top{
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }

    /* Add square image on background */
    .square{
        background-image: url(/assets/images/square.png);
        position: absolute;
        width: 221px;
        height: 575px;
        background-repeat: no-repeat;
        /* z-index: -2; */
        opacity: .3;
        mix-blend-mode: soft-light !important;
    }

    /* Add square image on the left side */
    .square-left{
        top: 25px;
        left: 28px;
        transform: scaleX(-1);
    }

    /* Add square image on the right side */
    .square-right{
        top: 25px;
        right: 28px;
    }

    .h-140{
        height: 140%;
    }

    .bg-gray{
        background-color: #F4F4F4;
    }

    .custom-shadow{
        box-shadow: 0px 3px 6px #00000029;
    }

    .text-16{
        font-size: 16px;
    }

    .text-20{
        font-size: 20px;
    }

    .text-32{
        font-size: 32px;
    }

    .text-42{
        font-size: 42px;
    }

    .text-52{
        font-size: 52px;
    }
    
    .blue{
        color: #007DB7;
    }

    .gray{
        color: #4F4F4F;
    }

    .white{
        color: white;
    }

    .underline{
        text-decoration: underline;
    }

    .uppercase{
        text-transform: uppercase;
    }

    .light{
        font-weight: 300;
    }

    .medium{
        font-weight: 500;
    }

    .btn-yellow{
        padding: 12.5px 23px;
        color: #002569;
        background-color: #D3E437;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 7px;
        font-family: 'ideal-medium';
    }

    .btn-yellow:hover{
        transition: background-color ease-in .2s;
        background-color: #c1d133;
    }

    .justify-content-even{
        justify-content: space-evenly;
    }

    .spacing{
        letter-spacing: 1.6px;
    }

    .spacing-1{
        letter-spacing: 1.22px;
    }

    .opacity-70{
        opacity: .7;
    }

/* BOOTSTRAP OVERRIDES */


.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 9px;
    margin-right: 8px;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: 1;
    transition: width 0.6s ease;
}

.carousel-indicators .active {
    width: 30px;
}

.blue-custom-carousel .carousel-indicators{
    bottom: -40px;
}

.blue-custom-carousel .carousel-indicators li{
    background-color: #037FB8;
    opacity: .76;
    width: 14px;
    height: 14px;
}

.blue-custom-carousel .carousel-indicators li.active{
    width: 32px;
}

.blue-custom-carousel .carousel-control-next{
}

.blue-custom-carousel .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    filter: invert(33%) sepia(73%) saturate(3272%) hue-rotate(176deg) brightness(89%) contrast(98%);
}

.blue-custom-carousel .carousel-control-next-icon{
    background-image: url(/assets/images/slider-arrow.svg);
    transform: translateX(130px);
}

.blue-custom-carousel .carousel-control-prev-icon{
    background-image: url(/assets/images/slider-arrow.svg);
    transform: translateX(-147px) scalex(-1);
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    padding-left: 20px;
    padding-right: 20px;
}